<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
  <link rel="icon" href="https://public.assets.feliciterra.com/monogram.jpg" type="image/jpeg">
  <link rel="stylesheet" href="{{ get_url(path='style.css') | safe }}">
</head>
<body>
  {% block content %}{% endblock content %}
</body>
</html>
